@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
	color: 	#ffffff;
	background-color: #292929;
	background-image:url(../images/charcoal_bg.jpg);
	padding: 0px;
	margin: 0px;

	font-family:Calibri, Arial;
	font-size:12px;
}

h2 {
	text-transform: uppercase;
	color: #11ffff;
	font-size: 1.2em;
	margin-bottom: 12px;
	
	
}
.off h2 {
    color: #ffffff;
}


p {
	font-size: 1em;
	margin-bottom: 1em;
	line-height: 1.4em;

}

#container{
	margin: 18px 18px 18px 0;
	width: 3000px;
	
}

.block {
	background-color:#FFFFFF;
	border-radius: 5px;
	-moz-border-radius : 5px;
	padding: 8px;
	width:inherit;
	margin-left: 36px;
	float:left;
	height: 500px;
}  

.info_block {
	background-color: #959898;
	height: 224px;
	padding: 12px;
	margin-bottom:8px;
	
}

.off{
	opacity:0.4;

}
