@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

html , body {
		height: 100%;
}

body {
	color: 	#ffffff;
	background-color: #262626;
	padding: 0px;
	margin: 0px;

	font-family:Calibri, Arial;
	font-size:12px;

}

h2 {
	text-transform: uppercase;
	color: #7FFFD4;
	font-size: 1.2em;
	margin-bottom: 12px;
	
	
}
.off h2 {
    color: #ffffff;
}


p {
	font-size: 1em;
	margin-bottom: 1em;
	line-height: 1.4em;

}

#container{
	
	white-space: nowrap;
	height:100%;


	
}

#wrapper {
	height:550px;
	position: absolute;
	top: 50%;

	margin: -300px 0 0 0;

	
}


.logo {

	
    margin-left:51px;
}

.block {
	background-color:#ffffff;
	border-radius: 5px;
	-moz-border-radius : 5px;
	padding: 8px;
	margin-left: 36px;
	margin-top: 18px;
	height: 500px;
	display:inline-block;
	opacity:1;
	white-space:normal;
}  

.empty_block {

	background: transparent;

}

.info_block {
	background-color: #959898;
	height: 224px;
	padding: 12px;
	margin-bottom:8px;
	width: 342px;
	
}

.off{
	opacity:0.4;

}

.clear {
	clear:both;
	
}

#left_nav {
	position:fixed;
	left: 0px;
	top:566px;
	
}

#menu {

	
	padding:18px;
	background-color:#262626;	
	display:block;
	border-bottom-right-radius: 12px;
	border-top-right-radius: 12px;
	-moz-border-radius-topright: 12px;
	-moz-border-radius-bottomright: 12px;
	color: #11ffff;
	text-transform: uppercase;
	word-spacing: 24px;
	font-size: 1.2em;
	float: left;

}

#menu a, #menu a:visited {
	color: #34D0BA;
	text-decoration:none;
	font-weight:bold;
}
#menu a:hover {
	color: #ffffff;
}

#left_arrow {
	float: left;
	margin: 10px 0 0 18px;
}

#left_arrow a, #left_arrow a:link {
	background-image: url('../images/left-arrow.png');
	width: 19px;
	height: 34px;
	text-indent: -999em;
	display: block;
}


#left_arrow a:hover {
	background-position: 19px 0;
}

